body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
}

.header-title {
    font-size: 24px;
}

.header-buttons button {
    margin-right: 10px;
}

.main-content {
    margin: 20px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #6c757d;
}

.upload-container, .verify-container {
    margin-top: 50px;
}

.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#resultContainer {
    margin-top: 20px;
    text-align: left;
}

table {
    word-wrap: break-word;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    vertical-align: top;
}

table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

#qrcodeCanvas {
    display: block;
    margin: 10px auto;
}
